h1{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    font-family: sans-serif;
}
.gallery{
    width: 100%;
    height: 80vh;
    display: flex;
    margin: 5% auto 0 ;
    box-sizing: border-box;
}
.img-box{
    margin: 0 1%;
    flex-grow: 1;
    flex-basis: 0;   /*default space given*/
    transition: 0.5s
}
.img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
/* Making 1st 50% at default*/
.active{
    flex-basis: 50%;
}

/*Hover effect 50% for all..1st still at 50*/
.img-box:hover{
    flex-basis: 50%;
}

/* Making 1st zero while hovering any of the pic.. including itself */
.gallery:hover .active{
    flex-basis: 0;
}

/* alag se hover effect for 1st */
.img-box:nth-child(1):hover{
    flex-basis: 50%;
}